.accordion-item {
  background-color: #252528;
  border-radius: 16px;
  margin-top: 1.5rem;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 1.5rem;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 600;
  color: #EAEAEA;
}

.accordion-arrow {
  transition: transform 0.3s ease;
}

.accordion-arrow.open {
  transform: rotate(180deg);
}

.accordion-content {
  /* padding: 0 1.5rem 1.5rem 1.5rem; */
  padding: 0;
  border-top: 1px solid #3a3a3e;
}